/* Variables de color para que sea fácil cambiar después */
:root {
    --negro: #1a1a1a;
    --blanco: #ffffff;
    --verde-claro: #9dffb0;
    --beige-fibra: #d2b48c; /* Este es el color de tus bolsas */
}

body {
    background-color: var(--negro);
    color: var(--blanco);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid var(--verde-claro);
    position: relative;
    z-index: 10;
}

 .navbar a {
    color: white !important;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;

.logo {
    font-weight: bold;
    font-size: 24px;
    color: var(--verde-claro);
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background-image: url('hojas4.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
     
.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Esto oscurece la foto un 60% */
}

.hero h1, .hero p, .hero .btn-principal {
    position: relative;
    z-index: 1; /* Esto saca el texto al frente del filtro */
}
h1 {
    font-size: 3rem;
    color: var(--blanco);
}

.btn-principal {
    background-color: var(--verde-claro);
    color: var(--negro);
    padding: 15px 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.card {
    background: #252525;
    border: 1px solid var(--beige-fibra);
    padding: 20px;
    border-radius: 10px;
}
