:root {
    --negro: #121212;
    --verde-claro: #9dffb0;
}

body {
    background-color: var(--negro);
    color: white;
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    background: rgba(0,0,0,0.9);
    border-bottom: 2px solid var(--verde-claro);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul { display: flex; list-style: none; margin: 0; }
header nav li { margin-left: 30px; }
header nav a { color: white; text-decoration: none; }
header nav a:hover { color: var(--verde-claro); }

.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('hojas4.jpg') center/cover;
    text-align: center;
}

.btn-principal {
    background: var(--verde-claro);
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.info-impacto { padding: 50px 8%; }
.fila-impacto { display: flex; align-items: center; gap: 40px; margin-bottom: 70px; }
.fila-impacto.inversa { flex-direction: row-reverse; }
.imagen-ref, .texto-ref { flex: 1; }
.imagen-ref img { width: 100%; border-radius: 10px; border: 1px solid var(--verde-claro); }

.galeria-seccion { padding: 50px 8%; background: #1a1a1a; }
.titulo-centrado { text-align: center; color: var(--verde-claro); }
.mosaico-galeria { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 15px; }
.foto-item img { width: 100%; height: 300px; object-fit: cover; border-radius: 8px; transition: 0.3s; }
.foto-item img:hover { transform: scale(1.02); border: 2px solid var(--verde-claro); }

footer { text-align: center; padding: 30px; color: #555; }

@media (max-width: 768px) { .fila-impacto, .fila-impacto.inversa { flex-direction: column; text-align: center; } }
